.contenedor{
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse; de derecha a izquierda */
    /* flex-direction: column-reverse; arriba abajo*/
    /*justify-content: center; pone al centro los elementos*/
    justify-content: center; /*al lado derecho*/
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    height: 700px;
    background-color: rgb(212, 228, 255);
} 

.caja-1{
    width: 500px;
    height:80px;
    font-size: 85px;
    color: white;
    background-color: rgb(113, 255, 134);
}

.caja-2{
    width: 500px;
    height:80px;
    font-size: 85px;
    color: white;
    background-color: rgb(255, 138, 197);
}

.caja-3{
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: rgb(138, 210, 255);
}

.caja-4{
    width:500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: rgb(216, 138, 255);
}

.caja-5{
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: rgb(255, 196, 138);
}

.caja-6{
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: rgb(255, 255, 138);
}